.prof{
	text-align:center;
}
.profile{
	display: flex;
	max-width: 200%;
	padding-left: 20%;
	padding-right: 20%;
}
.profile-view{
	border: 2px solid black;
	text-align:center;	
}
.qualf{
	border: 2px solid black;
}
.img{
	width: 10%;
}
table,th,td{
	border:1px solid black;
	border-collapse: collapse;	
}
h1.one{
	text-decoration: underline;
}


@media only screen and (min-width:220px) and (max-wis=dth:580px){

	.profile{
	display: flex;
	border: 1px solid black;
	background-color: pink;
}
	.profile-view{
	border: 2px solid black;	
}
.qualf{
	border: 2px solid black;
}
.img{
	width: 10%;	
}
table,th,td{
	border:1px solid black;
	border-collapse: collapse
}
h1.one{
	text-decoration: underline;
}





